In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from tqdm import tqdm


import warnings
warnings.simplefilter("ignore")

In [5]:
BASE_PATH = "/Users/thibaut/Desktop"

# Data cleaning

In [8]:
df = pd.read_csv(f"{BASE_PATH}/230K_hw2/hw2_data.csv")
df["date"] = pd.to_datetime(df["date"])
df["date"] = df["date"].apply(lambda x: x.date())
df["permno"] = df["permno"].astype(int)

df.set_index(["date", "permno"], inplace=True)
df.sort_index(inplace=True)

### Dupplicated values

In [3]:
df[df.duplicated()]

Empty DataFrame
Columns: [ticker, log_size, log_bm, log_pcf, mom, strev, vol, roa, roe, log_age_lb, price, bid, ask, log_to, rf, rm, ols_3m_d, ols_1y_d, ols_5y_m, f_ols_1y_d]
Index: []

#### We can drop the column ticker in as much as permno is a unique identifier and remains constant for a given security throughout its existance while the ticker could change

In [4]:
df.drop("ticker", axis=1, inplace=True)

### Non finite values

In [5]:
inf_rows = df[(df == np.inf) | (df == -np.inf)].dropna(how='all')
inf_rows

                   log_size  log_bm  log_pcf  mom  strev  vol  roa  roe  \
date       permno
1970-06-30 37364       -inf     NaN      NaN  NaN    NaN  NaN  NaN  NaN
1970-07-31 14955        NaN     NaN      NaN  NaN    NaN  NaN  NaN  NaN
1970-08-31 14955        NaN     NaN      NaN  NaN    NaN  NaN  NaN  NaN
           40504       -inf     NaN      NaN  NaN    NaN  NaN  NaN  NaN
1970-09-30 14955        NaN     NaN      NaN  NaN    NaN  NaN  NaN  NaN
...                     ...     ...      ...  ...    ...  ...  ...  ...
2021-10-29 13046        NaN    -inf      NaN  NaN    NaN  NaN  NaN  NaN
2021-11-30 20347        NaN    -inf      NaN  NaN    NaN  NaN  NaN  NaN
2021-12-31 20347        NaN    -inf      NaN  NaN    NaN  NaN  NaN  NaN
2022-01-31 20347        NaN    -inf      NaN  NaN    NaN  NaN  NaN  NaN
2022-02-28 20347        NaN    -inf      NaN  NaN    NaN  NaN  NaN  NaN

                   log_age_lb  price  bid  ask  log_to  rf  rm  ols_3m_d  \
date       permno
1970-06-30 37364          NaN    NaN  NaN  NaN    -inf NaN NaN       NaN
1970-07-31 14955          NaN    NaN  NaN  NaN    -inf NaN NaN       NaN
1970-08-31 14955          NaN    NaN  NaN  NaN    -inf NaN NaN       NaN
           40504          NaN    NaN  NaN  NaN    -inf NaN NaN       NaN
1970-09-30 14955          NaN    NaN  NaN  NaN    -inf NaN NaN       NaN
...                       ...    ...  ...  ...     ...  ..  ..       ...
2021-10-29 13046          NaN    NaN  NaN  NaN     NaN NaN NaN       NaN
2021-11-30 20347          NaN    NaN  NaN  NaN     NaN NaN NaN       NaN
2021-12-31 20347          NaN    NaN  NaN  NaN     NaN NaN NaN       NaN
2022-01-31 20347          NaN    NaN  NaN  NaN     NaN NaN NaN       NaN
2022-02-28 20347          NaN    NaN  NaN  NaN     NaN NaN NaN       NaN

                   ols_1y_d  ols_5y_m  f_ols_1y_d
date       permno
1970-06-30 37364        NaN       NaN         NaN
1970-07-31 14955        NaN       NaN         NaN
1970-08-31 14955        NaN       NaN         NaN
           40504        NaN       NaN         NaN
1970-09-30 14955        NaN       NaN         NaN
...                     ...       ...         ...
2021-10-29 13046        NaN       NaN         NaN
2021-11-30 20347        NaN       NaN         NaN
2021-12-31 20347        NaN       NaN         NaN
2022-01-31 20347        NaN       NaN         NaN
2022-02-28 20347        NaN       NaN         NaN

[39114 rows x 19 columns]

In [6]:
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [7]:
inf_rows = df[(df == np.inf) | (df == -np.inf)].dropna(how='all')
inf_rows

Empty DataFrame
Columns: [log_size, log_bm, log_pcf, mom, strev, vol, roa, roe, log_age_lb, price, bid, ask, log_to, rf, rm, ols_3m_d, ols_1y_d, ols_5y_m, f_ols_1y_d]
Index: []

### 0 values

In [8]:
L_specified_columns = ["log_size", "log_bm", "log_pcf", "vol", "log_age_lb", "price", "bid", "ask", "log_to"]

In [9]:
df[L_specified_columns] = df[L_specified_columns].replace(0, np.nan)

### Nan values

In [10]:
df.isna().sum()

log_size          15
log_bm           627
log_pcf       185976
mom            38869
strev              0
vol           249632
roa            15221
roe            18634
log_age_lb      2007
price              4
bid           364918
ask           364918
log_to         38960
rf                 0
rm                 0
ols_3m_d      369581
ols_1y_d      369581
ols_5y_m      369581
f_ols_1y_d    369581
dtype: int64

In [11]:
df.isna().sum()

log_size          15
log_bm           627
log_pcf       185976
mom            38869
strev              0
vol           249632
roa            15221
roe            18634
log_age_lb      2007
price              4
bid           364918
ask           364918
log_to         38960
rf                 0
rm                 0
ols_3m_d      369581
ols_1y_d      369581
ols_5y_m      369581
f_ols_1y_d    369581
dtype: int64

In [12]:
df.isna().sum()/len(df)*100

log_size       0.001204
log_bm         0.050325
log_pcf       14.926981
mom            3.119740
strev          0.000000
vol           20.036199
roa            1.221682
roe            1.495620
log_age_lb     0.161088
price          0.000321
bid           29.289392
ask           29.289392
log_to         3.127044
rf             0.000000
rm             0.000000
ols_3m_d      29.663658
ols_1y_d      29.663658
ols_5y_m      29.663658
f_ols_1y_d    29.663658
dtype: float64

### It is tricky to handle nan values for bid and ask. In addition there are too much nan values for bid and ask. That is why we decided to delete bid and ask columns

In [13]:
df.drop(["bid", "ask"], axis=1, inplace=True)

In [14]:
df.isna().sum()

log_size          15
log_bm           627
log_pcf       185976
mom            38869
strev              0
vol           249632
roa            15221
roe            18634
log_age_lb      2007
price              4
log_to         38960
rf                 0
rm                 0
ols_3m_d      369581
ols_1y_d      369581
ols_5y_m      369581
f_ols_1y_d    369581
dtype: int64

### Target variable cleaning: we drop observation for which we do not have target varaible value
#### There are outliers for the target variable. We clip betas between -4 and 4. Betas should no to close to 0 too.

In [15]:
df = df[df["f_ols_1y_d"].notna()]

In [16]:
df.isna().sum()

log_size          11
log_bm           424
log_pcf       114173
mom              132
strev              0
vol             9016
roa             6732
roe             5323
log_age_lb         0
price              0
log_to         18460
rf                 0
rm                 0
ols_3m_d           0
ols_1y_d           0
ols_5y_m           0
f_ols_1y_d         0
dtype: int64

In [17]:
df["f_ols_1y_d"] = df["f_ols_1y_d"].clip(-4,4)
df = df[abs(df["f_ols_1y_d"])>0.1]

### Delete observation if there are too many consecutive Nan values

In [18]:
def compute_perconsecutive_nans(df):

    consecutive_nans = df.isna().astype(int)
    L_columns = df.columns
    
    for i in tqdm(range(len(L_columns))):

        col = L_columns[i]
        consecutive_nans[col] = consecutive_nans[col] * (consecutive_nans[col].groupby((consecutive_nans[col] == 0).cumsum()).cumsum())
        consecutive_nans[col] = consecutive_nans[col] / len(consecutive_nans[col])*100
    
    return consecutive_nans

def clean_addperconsecutive_nans_feature(df_data, feature_name):

    df_logpcf = df_data[[f"{feature_name}"]].unstack()
    df_logpcf.columns = df_logpcf.columns.get_level_values(1)
    df_logpcf_perconsecutive_nan = compute_perconsecutive_nans(df_logpcf)
    df_logpcf_perconsecutive_nan = pd.DataFrame(df_logpcf_perconsecutive_nan.stack(), columns=[f"perconsnan_{feature_name}"])

    df_final = pd.concat([df_data, df_logpcf_perconsecutive_nan], axis=1, join="inner")

    return df_final

In [19]:
feature_name = "log_pcf"
df = clean_addperconsecutive_nans_feature(df, feature_name)

feature_name = "mom"
df = clean_addperconsecutive_nans_feature(df, feature_name)

feature_name = "vol"
df = clean_addperconsecutive_nans_feature(df, feature_name)

feature_name = "roa"
df = clean_addperconsecutive_nans_feature(df, feature_name)

feature_name = "roe"
df = clean_addperconsecutive_nans_feature(df, feature_name)

100%|██████████| 7691/7691 [00:14<00:00, 534.88it/s]
100%|██████████| 7691/7691 [00:14<00:00, 540.05it/s]
100%|██████████| 7691/7691 [00:14<00:00, 541.62it/s]
100%|██████████| 7691/7691 [00:14<00:00, 547.18it/s]
100%|██████████| 7691/7691 [00:18<00:00, 412.73it/s]

In [20]:
threshold = 10

feature_name = "log_pcf"
df_cleaned = df[df[f"perconsnan_{feature_name}"]<threshold]

feature_name = "mom"
df_cleaned = df_cleaned[df_cleaned[f"perconsnan_{feature_name}"]<threshold]

feature_name = "roa"
df_cleaned = df_cleaned[df_cleaned[f"perconsnan_{feature_name}"]<threshold]

feature_name = "roe"
df_cleaned = df_cleaned[df_cleaned[f"perconsnan_{feature_name}"]<threshold]

In [21]:
df_cleaned

                    log_size    log_bm   log_pcf       mom     strev  \
date       permno
1970-02-27 10006    5.603962 -0.229413  2.962434 -0.162378  0.051272
           10014    3.653252 -0.951918       NaN -0.375482 -0.050632
           10057    4.375757 -0.270497       NaN -0.229553 -0.023910
           10102    5.226821 -0.235722  1.409767 -0.505290  0.004156
           10137    6.108358 -0.462035  1.653455 -0.151756  0.123377
...                      ...       ...       ...       ...       ...
2022-02-28 93369    8.931354 -2.900422  3.358220 -0.150411  0.143396
           93374    8.899731 -0.223144  1.850500  0.379581 -0.100254
           93423    8.232892 -3.411248  2.438688 -0.121693  0.105597
           93429    9.433748 -1.220780  2.179739  0.191814 -0.006418
           93436   13.709701 -3.352407  4.751545  0.326930 -0.070769

                        vol    roa    roe  log_age_lb    price  ...        rm  \
date       permno                                               ...
1970-02-27 10006   0.065000  0.157  0.099    3.788477   48.125  ...  0.057959
           10014   0.141092  0.111  0.119    3.786677    9.375  ...  0.057959
           10057   0.059616    NaN    NaN    3.788477   20.625  ...  0.057959
           10102   0.051430  0.125  0.066    3.788477   16.875  ...  0.057959
           10137   0.052633  0.122  0.138    3.788477   21.625  ...  0.057959
...                     ...    ...    ...         ...      ...  ...       ...
2022-02-28 93369   0.104120  0.189  0.740    2.464378   27.190  ... -0.022821
           93374   0.066705  0.137  0.240    2.457362   67.040  ... -0.022821
           93423   0.113710  0.164  0.418    2.457362   43.660  ... -0.022821
           93429   0.060981  0.139  0.120    2.457362  117.290  ... -0.022821
           93436   0.134342  0.139  0.160    2.457362  870.430  ... -0.022821

                   ols_3m_d  ols_1y_d  ols_5y_m  f_ols_1y_d  \
date       permno
1970-02-27 10006   0.629034  0.890264  1.079448    0.707153
           10014   2.817437  2.379350  0.996177    2.147226
           10057   0.281523  0.426136  0.892108    0.517511
           10102   1.562337  1.147668  1.005860    1.339038
           10137   0.941398  0.756613  0.717579    0.643003
...                     ...       ...       ...         ...
2022-02-28 93369   0.855424  1.095643  1.004980    1.347405
           93374   0.912535  0.911184  1.127878    0.612557
           93423   1.174469  1.285446  1.172750    1.423048
           93429   0.678829  0.549325  0.811812    0.540210
           93436   2.227783  1.997363  1.086022    1.768254

                   perconsnan_log_pcf  perconsnan_mom  perconsnan_vol  \
date       permno
1970-02-27 10006             0.000000             0.0             0.0
           10014             0.182482             0.0             0.0
           10057             0.182482             0.0             0.0
           10102             0.000000             0.0             0.0
           10137             0.000000             0.0             0.0
...                               ...             ...             ...
2022-02-28 93369             0.000000             0.0             0.0
           93374             0.000000             0.0             0.0
           93423             0.000000             0.0             0.0
           93429             0.000000             0.0             0.0
           93436             0.000000             0.0             0.0

                   perconsnan_roa  perconsnan_roe
date       permno
1970-02-27 10006         0.000000        0.000000
           10014         0.000000        0.000000
           10057         0.182482        0.182482
           10102         0.000000        0.000000
           10137         0.000000        0.000000
...                           ...             ...
2022-02-28 93369         0.000000        0.000000
           93374         0.000000        0.000000
           93423         0.000000        0.000000
           93429         0.000000        0.000000
           93436         0.000000        0.000000

[833905 rows x 22 columns]

In [22]:
df_cleaned.isna().sum()

log_size                  8
log_bm                  393
log_pcf               88754
mom                     115
strev                     0
vol                    7252
roa                    3348
roe                    3628
log_age_lb                0
price                     0
log_to                16500
rf                        0
rm                        0
ols_3m_d                  0
ols_1y_d                  0
ols_5y_m                  0
f_ols_1y_d                0
perconsnan_log_pcf        0
perconsnan_mom            0
perconsnan_vol            0
perconsnan_roa            0
perconsnan_roe            0
dtype: int64

In [23]:
df_cleaned.isna().sum()/len(df_cleaned)*100

log_size               0.000959
log_bm                 0.047128
log_pcf               10.643179
mom                    0.013791
strev                  0.000000
vol                    0.869643
roa                    0.401485
roe                    0.435062
log_age_lb             0.000000
price                  0.000000
log_to                 1.978643
rf                     0.000000
rm                     0.000000
ols_3m_d               0.000000
ols_1y_d               0.000000
ols_5y_m               0.000000
f_ols_1y_d             0.000000
perconsnan_log_pcf     0.000000
perconsnan_mom         0.000000
perconsnan_vol         0.000000
perconsnan_roa         0.000000
perconsnan_roe         0.000000
dtype: float64

In [24]:
df_cleaned

                    log_size    log_bm   log_pcf       mom     strev  \
date       permno
1970-02-27 10006    5.603962 -0.229413  2.962434 -0.162378  0.051272
           10014    3.653252 -0.951918       NaN -0.375482 -0.050632
           10057    4.375757 -0.270497       NaN -0.229553 -0.023910
           10102    5.226821 -0.235722  1.409767 -0.505290  0.004156
           10137    6.108358 -0.462035  1.653455 -0.151756  0.123377
...                      ...       ...       ...       ...       ...
2022-02-28 93369    8.931354 -2.900422  3.358220 -0.150411  0.143396
           93374    8.899731 -0.223144  1.850500  0.379581 -0.100254
           93423    8.232892 -3.411248  2.438688 -0.121693  0.105597
           93429    9.433748 -1.220780  2.179739  0.191814 -0.006418
           93436   13.709701 -3.352407  4.751545  0.326930 -0.070769

                        vol    roa    roe  log_age_lb    price  ...        rm  \
date       permno                                               ...
1970-02-27 10006   0.065000  0.157  0.099    3.788477   48.125  ...  0.057959
           10014   0.141092  0.111  0.119    3.786677    9.375  ...  0.057959
           10057   0.059616    NaN    NaN    3.788477   20.625  ...  0.057959
           10102   0.051430  0.125  0.066    3.788477   16.875  ...  0.057959
           10137   0.052633  0.122  0.138    3.788477   21.625  ...  0.057959
...                     ...    ...    ...         ...      ...  ...       ...
2022-02-28 93369   0.104120  0.189  0.740    2.464378   27.190  ... -0.022821
           93374   0.066705  0.137  0.240    2.457362   67.040  ... -0.022821
           93423   0.113710  0.164  0.418    2.457362   43.660  ... -0.022821
           93429   0.060981  0.139  0.120    2.457362  117.290  ... -0.022821
           93436   0.134342  0.139  0.160    2.457362  870.430  ... -0.022821

                   ols_3m_d  ols_1y_d  ols_5y_m  f_ols_1y_d  \
date       permno
1970-02-27 10006   0.629034  0.890264  1.079448    0.707153
           10014   2.817437  2.379350  0.996177    2.147226
           10057   0.281523  0.426136  0.892108    0.517511
           10102   1.562337  1.147668  1.005860    1.339038
           10137   0.941398  0.756613  0.717579    0.643003
...                     ...       ...       ...         ...
2022-02-28 93369   0.855424  1.095643  1.004980    1.347405
           93374   0.912535  0.911184  1.127878    0.612557
           93423   1.174469  1.285446  1.172750    1.423048
           93429   0.678829  0.549325  0.811812    0.540210
           93436   2.227783  1.997363  1.086022    1.768254

                   perconsnan_log_pcf  perconsnan_mom  perconsnan_vol  \
date       permno
1970-02-27 10006             0.000000             0.0             0.0
           10014             0.182482             0.0             0.0
           10057             0.182482             0.0             0.0
           10102             0.000000             0.0             0.0
           10137             0.000000             0.0             0.0
...                               ...             ...             ...
2022-02-28 93369             0.000000             0.0             0.0
           93374             0.000000             0.0             0.0
           93423             0.000000             0.0             0.0
           93429             0.000000             0.0             0.0
           93436             0.000000             0.0             0.0

                   perconsnan_roa  perconsnan_roe
date       permno
1970-02-27 10006         0.000000        0.000000
           10014         0.000000        0.000000
           10057         0.182482        0.182482
           10102         0.000000        0.000000
           10137         0.000000        0.000000
...                           ...             ...
2022-02-28 93369         0.000000        0.000000
           93374         0.000000        0.000000
           93423         0.000000        0.000000
           93429         0.000000        0.000000
           93436         0.000000        0.000000

[833905 rows x 22 columns]

#### We can replace nan values by consecutively applying this process:
####  1. forward fill upto 5 consecutive observations
####  2. fill remaining nan values with a ma of last 21 observations

In [25]:
L_ffill = ["log_size", "log_bm", "log_pcf", "mom", "vol", "roa", "roe", "log_to"]

for i in tqdm(range(len(L_ffill))): 
    col = L_ffill[i]
    df_cleaned[f"{col}"] = df_cleaned[f"{col}"].unstack().ffill(limit=5, limit_area="inside").stack()

  0%|          | 0/8 [00:00<?, ?it/s]

100%|██████████| 8/8 [00:04<00:00,  1.73it/s]

In [26]:
df_cleaned.isna().sum()

log_size                  0
log_bm                   34
log_pcf               50279
mom                      97
strev                     0
vol                    7246
roa                    1889
roe                    1364
log_age_lb                0
price                     0
log_to                16415
rf                        0
rm                        0
ols_3m_d                  0
ols_1y_d                  0
ols_5y_m                  0
f_ols_1y_d                0
perconsnan_log_pcf        0
perconsnan_mom            0
perconsnan_vol            0
perconsnan_roa            0
perconsnan_roe            0
dtype: int64

In [30]:
df_cleaned = df_cleaned.groupby("permno").transform(lambda g: g.fillna(g.rolling(window=63, min_periods=1).mean()))

In [32]:
df_cleaned.isna().sum()

log_size                  0
log_bm                   18
log_pcf                3451
mom                       2
strev                     0
vol                    6975
roa                     755
roe                     425
log_age_lb                0
price                     0
log_to                16306
rf                        0
rm                        0
ols_3m_d                  0
ols_1y_d                  0
ols_5y_m                  0
f_ols_1y_d                0
perconsnan_log_pcf        0
perconsnan_mom            0
perconsnan_vol            0
perconsnan_roa            0
perconsnan_roe            0
dtype: int64

#### It seems reasonable to fill the remaining NaN values of volatility with a cross-sectional mean of the volatility. For the other features, this is more tricky. We could try to fill NaN values with a cross-sectional mean per sector, but here, it is okay to drop them as we do not have a sector variable and they represent less than 2% of the whole dataset.

In [35]:
df_cleaned["vol"] = df_cleaned.groupby("date")["vol"].transform(lambda g: g.fillna(g.mean()))

In [36]:
df_cleaned.isna().sum()

log_size                  0
log_bm                   18
log_pcf                3451
mom                       2
strev                     0
vol                       0
roa                     755
roe                     425
log_age_lb                0
price                     0
log_to                16306
rf                        0
rm                        0
ols_3m_d                  0
ols_1y_d                  0
ols_5y_m                  0
f_ols_1y_d                0
perconsnan_log_pcf        0
perconsnan_mom            0
perconsnan_vol            0
perconsnan_roa            0
perconsnan_roe            0
dtype: int64

In [37]:
df_cleaned

                    log_size    log_bm   log_pcf       mom     strev  \
date       permno
1970-02-27 10006    5.603962 -0.229413  2.962434 -0.162378  0.051272
           10014    3.653252 -0.951918       NaN -0.375482 -0.050632
           10057    4.375757 -0.270497       NaN -0.229553 -0.023910
           10102    5.226821 -0.235722  1.409767 -0.505290  0.004156
           10137    6.108358 -0.462035  1.653455 -0.151756  0.123377
...                      ...       ...       ...       ...       ...
2022-02-28 93369    8.931354 -2.900422  3.358220 -0.150411  0.143396
           93374    8.899731 -0.223144  1.850500  0.379581 -0.100254
           93423    8.232892 -3.411248  2.438688 -0.121693  0.105597
           93429    9.433748 -1.220780  2.179739  0.191814 -0.006418
           93436   13.709701 -3.352407  4.751545  0.326930 -0.070769

                        vol    roa    roe  log_age_lb    price  ...        rm  \
date       permno                                               ...
1970-02-27 10006   0.065000  0.157  0.099    3.788477   48.125  ...  0.057959
           10014   0.141092  0.111  0.119    3.786677    9.375  ...  0.057959
           10057   0.059616    NaN    NaN    3.788477   20.625  ...  0.057959
           10102   0.051430  0.125  0.066    3.788477   16.875  ...  0.057959
           10137   0.052633  0.122  0.138    3.788477   21.625  ...  0.057959
...                     ...    ...    ...         ...      ...  ...       ...
2022-02-28 93369   0.104120  0.189  0.740    2.464378   27.190  ... -0.022821
           93374   0.066705  0.137  0.240    2.457362   67.040  ... -0.022821
           93423   0.113710  0.164  0.418    2.457362   43.660  ... -0.022821
           93429   0.060981  0.139  0.120    2.457362  117.290  ... -0.022821
           93436   0.134342  0.139  0.160    2.457362  870.430  ... -0.022821

                   ols_3m_d  ols_1y_d  ols_5y_m  f_ols_1y_d  \
date       permno
1970-02-27 10006   0.629034  0.890264  1.079448    0.707153
           10014   2.817437  2.379350  0.996177    2.147226
           10057   0.281523  0.426136  0.892108    0.517511
           10102   1.562337  1.147668  1.005860    1.339038
           10137   0.941398  0.756613  0.717579    0.643003
...                     ...       ...       ...         ...
2022-02-28 93369   0.855424  1.095643  1.004980    1.347405
           93374   0.912535  0.911184  1.127878    0.612557
           93423   1.174469  1.285446  1.172750    1.423048
           93429   0.678829  0.549325  0.811812    0.540210
           93436   2.227783  1.997363  1.086022    1.768254

                   perconsnan_log_pcf  perconsnan_mom  perconsnan_vol  \
date       permno
1970-02-27 10006             0.000000             0.0             0.0
           10014             0.182482             0.0             0.0
           10057             0.182482             0.0             0.0
           10102             0.000000             0.0             0.0
           10137             0.000000             0.0             0.0
...                               ...             ...             ...
2022-02-28 93369             0.000000             0.0             0.0
           93374             0.000000             0.0             0.0
           93423             0.000000             0.0             0.0
           93429             0.000000             0.0             0.0
           93436             0.000000             0.0             0.0

                   perconsnan_roa  perconsnan_roe
date       permno
1970-02-27 10006         0.000000        0.000000
           10014         0.000000        0.000000
           10057         0.182482        0.182482
           10102         0.000000        0.000000
           10137         0.000000        0.000000
...                           ...             ...
2022-02-28 93369         0.000000        0.000000
           93374         0.000000        0.000000
           93423         0.000000        0.000000
           93429         0.000000        0.000000
           93436         0.000000        0.000000

[833905 rows x 22 columns]

#### For the other features, we did what was necessary. We will just drop now the msising values. We do not want to overinterpret.

In [38]:
df_cleaned.drop(["perconsnan_log_pcf", "perconsnan_mom", "perconsnan_vol", "perconsnan_roa", "perconsnan_roe"], axis=1, inplace=True)

In [39]:
df_cleaned.dropna(inplace=True)

In [40]:
len(df_cleaned)/len(df)*100

94.95849407108167

In [44]:
df_cleaned.to_csv(f"{BASE_PATH}/230K_hw2/hw2_data_cleaned.csv")

In [46]:
df_cleaned.isna().sum()

log_size      0
log_bm        0
log_pcf       0
mom           0
strev         0
vol           0
roa           0
roe           0
log_age_lb    0
price         0
log_to        0
rf            0
rm            0
ols_3m_d      0
ols_1y_d      0
ols_5y_m      0
f_ols_1y_d    0
dtype: int64